<header
    class="col-start-1 row-start-1 sticky top-0 z-10 h-16 backdrop-blur-xl bg-[var(--app-header-bg-color)]"
    app-stripes-top-left-background>
    <div class="flex items-center justify-between h-full">
        <app-logo-title
            class="ml-20"
            [title]="'120603001c4f010717' | xorCipher" />
        <div class="flex-grow"></div>
        <nav>
            <app-route-fragment-links class="max-lg:!hidden mx-8" />
        </nav>
    </div>
</header>
<main class="col-start-1 row-start-1">
    <router-outlet></router-outlet>
</main>
<footer
    class="col-start-1 row-start-2"
    app-footer>
</footer>
